*.class

# Package Files #
*.war
*.ear
/bin

# Eclipse #
.classpath
.project
.settings/
/src/assets/textures/backgrounds
/src/assets/textures/projectiles
/src/assets/textures/spritesheets
/bin
/target
/saves

# maven #
dependency-reduced-pom.xml

# logs #
*.log