.fxgl_button:hover {
	-fx-background-color: linear-gradient(from 0% 100% to 0% 100%, darkred 0%, red 100%);
	-fx-text-fill: white;
}

.fxgl_button:pressed, .fxgl_button:default:hover:pressed {
	-fx-background-color: red;
	-fx-text-fill: white;
}

.column-header {
	
}